<div class="nav-bar">
  <nav>
    <div class="navContainer">
      <a routerLink="/countries" routerLinkActive="active">Country List</a>
      <a routerLink="/modify-country" routerLinkActive="active">Modify Student</a>
    </div>
  </nav>
</div>
<div class="container">
  <div class="top">
    <!-- <app-country-list-item *ngIf="country" [country]="country[appCountryIndex]"></app-country-list-item> -->
  </div>
</div>
<router-outlet></router-outlet>
<!-- <app-country-list (indexEmmiter)="onClick($event)"></app-country-list> -->